@import "../../styles/variables.scss";

.Terminal {
  max-height: 50rem;
  width: 100%;
  background-color: #346b31;
  margin-bottom: 8rem;
  border: 2.5rem outset #654321;
  font-family: chalk;
  padding: 2rem 0;

  @media screen and (max-width: $medium) {
    margin-bottom: 4rem;
  }

  &_header {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: flex-end;
  }

  &_about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 5px groove white;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: 2rem;
    margin-top: 2rem;

    @media screen and (max-width: $medium) {
      font-size: 2.1rem;
    }
  }

  &_aboutContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2rem;
    margin-top: 2.5rem;
  }
  &_aboutContent {
    margin: 1rem 0 1rem 0;
  }
  &_input {
    font-size: 2.1rem;

    @media screen and (max-width: $medium) {
      font-size: 1.8rem;
    }
  }
  &_return {
    color: rgb(240, 240, 111);
    font-weight: bold;
    font-size: 2.2rem;
    padding-right: 2rem;

    @media screen and (max-width: $medium) {
      font-size: 1.8rem;
    }
  }
  &_input::before {
    content: ">>";
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
  }
}
a {
  color: lightblue;
}
.box {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
}
.line {
  width: 1.5rem;
  background-color: black;
  vertical-align: middle;
  height: 1px;
}
