.Contact {
  background: conic-gradient(
    from 0.192turn,
    #cdb4db,
    #ffc8dd,
    #ffafcc,
    #bde0fe,
    #a2d2ff
  );

  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_title {
    margin-top: 2.5rem;
  }
  &_container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    background-color: transparent;
    color: black;
    height: 30rem;
    width: 50rem;
  }

  &_type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  &_logo {
    margin-right: 1rem;
  }
}
