html {
  font-size: 62.5%;
  background-color: #ece2d0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  box-sizing: inherit;
  font-family: "Abel", sans-serif;
}

.container {
  width: 100%;
  max-width: 104rem;
  margin: 0 auto;
}
@font-face {
  font-family: chalk;
  src: url(assets/chalk.ttf);
}
