@import "styles/variables.scss";
html {
  font-size: 62.5%;
  background-color: #ece2d0;
  background: conic-gradient(
    from 0.192turn,
    #cdb4db,
    #ffc8dd,
    #ffafcc,
    #bde0fe,
    #a2d2ff
  );
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  box-sizing: inherit;
  font-family: "Abel", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 104rem;
  margin: 0 auto;
  padding: 0 5rem;

  @media screen and (max-width: $medium) {
    padding: 0 2rem;
  }
  @media screen and (max-width: $xsmall) {
    padding: 0 0.5rem;
  }
}

@font-face {
  font-family: chalk;
  src: url(assets/chalk.ttf);
}

// #ffafcc,
// #ffc8dd,
// #cdb4db,
// #03045e,
// #bde0fe,
// #a2d2ff,
// #48cae4,
// #a0c4ff,
// #00b4d8,
// #90e0ef
